*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.grid{
    display: grid;
    gap: 1.5rem
}
.container{
    width: 1236px;
    margin: 0 auto;
}
.card__container{
    grid-template-columns: repeat(4, 1fr);
}

.card{
    background-color: #F4F5F7;
    width: 285px;
}
.card